*.gcode
*.3mf
*.kicad_prl
*.vcd
src/HDMI/obj_dir
src/I2C_Init/I2C/obj_dir
src/I2C_Init/obj_dir
src/MIPI/IDDR1/obj_dir
src/MIPI/IDDR2/obj_dir
ULX3S_ninja/fp-info-cache
ULX3S_ninja/ninjaHat-backups/*
ULX3S_ninja/gerber.zip
ULX3S_ninja/gerber/*
